<h1>Login Page</h1>

<% if(messages.error) {%>
    <%= messages.error%>
        <% } %>

            <form action="/login" method="POST">
                <input type="email" id="email" name="email" placeholder="email" required><br>
                <input type="password" id="password" name="password" placeholder="password" required><br>
                <button type="submit">Login</button>
            </form>

            <a href="/register">Register an account</a>
            <a href="/">Home</a>